---
- name: Configure NTP
  hosts: d1

  vars:
    ntp_servers:
      - 1.1.1.1
      - 2.2.2.2

  tasks:
    - name: Configure NTP using NetConf
      netconf_config:
        content: "{{ lookup('template', 'ntp-config.j2') }}"

